* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

root {
    
    --main-color: #F2994A;
}

section {
    width: 100%;
 

}


#budget-form {
    width: 100%;
    height: 120%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.logo {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: column;
    width: 330px;
    margin: 5px auto;
}

.logo img {
    width: 115px;
    height: 115px;
}

.logo h1 {
    font-size: 15px;
    color: var(--main-color);
    text-align: center;
   margin-bottom: 5px;
}


input {
    font-size: 14px;
    width: 330px;
    display: block;
    margin: auto;
    border-radius: 5px;
   border: 1px solid #c1c1c1;
    margin-top: 10px;
    height: 40px;
 
}

p.select {
    display: block;
    text-align: center;
    width: 330px;
    background: linear-gradient(to right, #F2C94C, #F2994A);
    padding: 5px;
   margin: 10px auto;
    font-size: 18px;
    margin-bottom: 10px;
  
}

#servico,
#solicitacao,
#tipoServico,
#modelo {
    font-size: 15px;
    display: block;
    width: 330px;
    height: 40px;
    margin: auto;
    border-radius: 5px;
   border: 1px solid #c1c1c1;
 background: #FFF;

}

textarea {
    width: 330px;
    margin: auto;
    margin-top: 10px;
    height: 220px;
    padding-top: 10px;
    resize: none;
    border-radius: 5px;
   border: 1px solid #c1c1c1;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#submit {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #F2C94C, #F2994A);
    color: #494C4E;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    border: none;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

footer {
    margin-top: 10px;
    background: linear-gradient(to right, #F2C94C, #F2994A);
}

.rodape p {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 10px;
    color: #494C4E;


}



@media only screen and (min-width : 1280px) {


body{
  width: 100%;
  height: 100%;
background:  #F2C94C;
}

.logo{
  display: flex;

flex-direction: row;
width: 450px;
 justify-content: space-around;

}

.logo h1 {
      font-size: 15px;

}


.logo img {
    width: 115px;
    height: 115px;
}

.formulario{
   position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    background-color: #FFF;
    padding: 20px;
    border-radius: 15px;
    width: 55%;
 height: auto;
 margin-top: 30px;

}


#servico,
#solicitacao,
#tipoServico,
#modelo,
p.select,
textarea,
input {
   width: 500px;

}

textarea{
  height: 150px;

}



}



